/* TEXTOS e FONTES*/
@font-face {
  font-family:'montserrat-bold';
  src:url("../fontes/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family:'montserrat';
  src:url("../fontes/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family:'rubik-bold';
  src:url("../fontes/Rubik/static/Rubik-Bold.ttf");
}
@font-face {
  font-family:'rubik';  
  src:url("../fontes/Rubik/static/Rubik-Regular.ttf");
}

/* TITULOS 15, 24, 48, 64*/
/* MONTSERRAT */
.font-1-xxl{
  font: normal 800 4em 'montserrat-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-xl{
  font: normal 800 3em 'montserrat-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-l{
  font: normal 800 2em 'montserrat-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-ml{
  font: normal 800 1.75em 'montserrat-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-m{
  font: normal 400 1.5em 'montserrat', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-s{
  font: normal 400 1.25em 'montserrat', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-xs{
  font: normal 400 1em 'montserrat', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-1-xxs{
  font: normal 400 0.875em 'montserrat', Helvetica, Arial, and Futura;
  color:#fff;
}

/* RUBIK */
.font-2-xl{
  font: normal 800 3em 'rubik-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-2-l{
  font: normal 800 2em 'rubik-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-2-m{
  font: normal 400 1.5em 'rubik', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-2-m{
  font: normal 800 1.5em 'rubik-bold', Helvetica, Arial, and Futura;
  color:#fff;
}
.font-2-s{
  font: normal 400 0.875em 'rubik', Helvetica, Arial, and Futura;
  color:#fff;
}


/* BOTÕES */
.link{
  text-decoration:underline;
  display: inline-block;
  font-family: 'rubik';
  font-size: 1.5em;
  margin: 20px auto;
}

.btn-generico{
  display: inline-block;
  font-family: "rubik-bold";
  font-weight: 800;
  color: var(--w);
  text-transform: uppercase;
  background-color: var(--c1-5) ;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
  transition: 0.3s;
}
.btn-generico:hover{
  transform: translate(0, -5px);
  box-shadow: 0 5px 0 0 var(--c1);
}
.btn-cor-principal{
  display: inline-block;
  font-family: "rubik-bold";
  font-weight: 800;
  color: var(--w);
  text-transform: uppercase;
  background-color: var(--cor-principal) ;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
}
.btn-chamativo{
  display: inline-block;
  text-align: center;
  font-family: "rubik-bold";
  font-weight: 800;
  color: var(--c2);
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--cor-enfase)40%, #ff7b00 60% 100%);
  transition: 0.3s;
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
}
.btn-chamativo:hover{
  box-shadow: 0 18px 20px -25px var(--cor-enfase);
  
}

/* TAMANHOS ou ESPAÇOS */
.container-1200{
  max-width: 1200px;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

.container-1300{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.container-1500{
  max-width: 1500px;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

:root{
  --t5: 5px;
  --t10: 10px;
  --t20: 20px;
  --t50: 50px;
  --t100: 100px;
  --t150: 150px;
  --t200: 200px;
}

/* CORES */

:root{
  /* principais */
  --cor-principal: #ff2626;
  --cor-principal-escurecida: #cc1414;

  /* cores de ênfase */
  --cor-enfase: #ffa100;



  /* tons de cinza */
  --c1: #000000;
  --c1-5: #0a0a0a;
  --c2: #141414;
  --c2-5: #1f1f1f;
  --c3: #292929;
  --c3-5: #302F2F;
  --c4: #3D3D3D;
  --c5: #525252;
  --c6: #7A7A7A;
  --c7: #8F8F8F;
  --c8: #B8B8B8;
  --c9: #CCCCCC;
  --c10: #E0E0E0;
  --c11: #F5F5F5;
  --w: #ffffff;
  
}