@import url("/assets/css/reset.css");
@import url("/assets/css/elementos.css");

#header-home{
  width: 100%;
  height: 120vh;
 background-color: #0a0a0a;
}
#header-home *{
  z-index: 1;
}
#header-home > img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 40vw;
}
#header-home div.container-1300{
  width: 100%;
  display: grid;
  grid-template-areas: 
            "menu menu"
            "esquerdo direito";
  align-items: center;
  justify-content: center;
  gap: 0 100px;
}
#header-home .navegacao-header{
  grid-area: menu;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-home .navegacao-header ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
#header-home .navegacao-header ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#header-home .navegacao-header ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'montserrat';
}
#header-home #img-grid-esquerda{
  grid-area: esquerdo;
  
}
#header-home #textos-apresentacao{
  grid-area: direito;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#header-home #textos-apresentacao h2{
  display: inline;
  max-width: 16ch;
  position: relative;
}
#header-home #textos-apresentacao h2::after{
  content: '';
  position: absolute;
  top: 5px;
  left: -15px;
  display: block;
  background-color: var(--cor-principal);
  width: 5px;
  height: 1em;
  border-radius: 5px;
}
#header-home #textos-apresentacao li h5{
  display: inline-block;
}
#header-home #textos-apresentacao li{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
#header-home #textos-apresentacao p{
  color: var(--c5);
  font-style: italic;
  margin-top: 50px;
}
#header-home .navegacao-header .menu-login li a.btn-cor-principal{
  background-color: #0a0a0a;
}
#header-home .container-1300 + .btn-cor-principal {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  bottom: 10px;
}

#header-home #painel-header-home{
  display: grid;
  position: absolute;
  bottom: -35vh;
  left: 50%;
  transform: translateX(-50%);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  max-width: max-content;
  width: 100%;
  border: 5px;
  box-sizing: border-box;
  padding: 20px 50px;
  background-color: var(--c2-5);
  box-shadow: 0 0px 10px -1px var(--c1);

}
#header-home #painel-header-home p{
  border-bottom: 2px solid #2E2E2E;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0px;  
}
#header-home #painel-header-home p:nth-child(odd){
  text-align: right;
  border-right: 2px solid #2E2E2E;
}
#header-home #painel-header-home p:nth-child(7){
  text-align: right;
  border-bottom:none;
}
#header-home #painel-header-home p:last-child{
  border-bottom: none;
}
#header-home #painel-header-home p img{
  margin:0 5px;
}


/* ORCAMENTO */

#orcamento{
  background-color: var(--c2);
  padding-top: 100px;
}
#orcamento .container-1200{
  padding-top: 50px;
}
#orcamento .container-1200 h2{
  text-align: center;
}
#container-grid-orcamento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;  
}
@media screen and (max-width:1400px){
  #container-grid-orcamento{
    transform:scale(0.875)
  }
}
#container-grid-orcamento #sintomas, #container-grid-orcamento #rastreio{
  box-shadow: 0 5px 10px 0 var(--c1-5);
}
#container-grid-orcamento #sintomas{
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--c2-5);
  
}
#container-grid-orcamento #sintomas #background-canvas-sintomas{
  background-color: var(--c1-5);
  border-radius: 20px;
  gap: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 30px ;
}
#container-grid-orcamento #sintomas #background-canvas-sintomas #decoracao{
  position: absolute;
  top: 25px;
  right: 25px;
}
#container-grid-orcamento #sintomas #background-canvas-sintomas #legenda{
  position: relative;
}
#container-grid-orcamento #sintomas #background-canvas-sintomas #legenda::after{
  content: '';
  display: block;
  background-color: var(--cor-principal);
  height: 3px;
  border-radius: 3px;
  width:200px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}

#container-grid-orcamento #sintomas #container-sintomas-grid{
  display: grid;
  width:fit-content;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 32px;
}
#container-grid-orcamento #sintomas #container-sintomas-grid div{
  background-color: var(--c2-5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  min-height: 130px;
  height: 100;
  width: 100%;
  border-radius: 10px;
}
#decoracao-bolinha{
  display: block;
  background-color: var(--c1-5);
  height: 75px;
  width: 75px;
  border-radius: 75px;
  margin: 24px auto 0 auto;
}

#container-grid-orcamento #rastreio #background-canvas-rastreio{
  background-color: var(--c1-5);
  border-radius: 20px;
  max-height: 600px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#container-grid-orcamento #rastreio{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--c2-5);
}
#container-grid-orcamento #rastreio a.btn-chamativo{
  display: inline-block;
  max-width: 450px;
}

#orcamento .container-1300{
  padding-bottom: 50px;
}
#orcamento .container-1300 #outras-opcoes{
  display: flex;
  justify-content: center;
  gap: 20px;
}
