@import url("/assets/css/reset.css");
@import url("/assets/css/elementos.css");

#header-home {
  width: 100%;
  height: 100vh;
  background-color: var(--c1);
  position: relative;
}
#header-home * {
  z-index: 999;
}
#header-home .menu-login li .btn-generico {
  background-color: #1f1f1f;
}
#header-home > img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 700px;
}
.navegacao-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--t20) var(--t50);
}
.navegacao-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--t20);
}
.navegacao-header ul li {
  display: inline-block;
}
.navegacao-header ul.menu-principal li a {
  color: var(--w);
  font-family: "montserrat";
  padding: 5px 10px;
}
.navegacao-header ul.menu-login li a {
  color: var(--w);
  font-family: "montserrat-bold";
}

#apresentacao {
  gap: var(--t100);
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
#apresentacao h2 {
  position: relative;
  z-index: 0;
}
#apresentacao h2::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 10px;
  width: 5px;
  height: 1em;
  border-radius: 5px;
  background: var(--cor-principal);
}
#apresentacao img {
  max-width: 560px;
}
#apresentacao #textos-apresentacao {
  display: flex;
  max-width: 650px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--t20);
}
#apresentacao #textos-apresentacao ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}
#apresentacao #textos-apresentacao ul li {
  color: var(--w);
  font-family: "montserrat";
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: var(--t20);
}
#apresentacao #textos-apresentacao ul li img {
  width: 35px;
}
#apresentacao #textos-apresentacao p {
  color: var(--c7);
}

#apresentacao + .btn-generico {
  position: absolute;
  margin-top: var(--t20);
  left: 50%;
  transform: translateX(-50%);
}

#painel-header-home {
  position: absolute;
  background-color: #1f1f1f;
  bottom: -80px;
  padding: 20px 50px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4 repeat(1fr);
}
#painel-header-home p {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  color: #fff;
  font-family: 'montserrat';
  border-bottom: 2px solid var(--c3);
  padding: 5px;
}

#painel-header-home p:nth-child(7), #painel-header-home p:last-child{
  border: none;
}
#painel-header-home p:nth-child(odd) {
  border-right: 2px solid var(--c3);
  justify-content: flex-end;
}
#painel-header-home p img{
  margin: 0 5px;
}

#orcamento{
  background-color: var(--c2);
  padding-top: 80px;
  height: 100vh;
}
#orcamento h2{
  text-align: center;
}

